#!/bin/sh
# Always sourced file - Fake bang path to help editors

if [ -d ".venv" ]; then
    # Defaults to proj folder name for venv
    VIRTUAL_ENV="$(basename "$(realpath "$PWD")")"
    export VIRTUAL_ENV

    # shellcheck source=/dev/null
    . .venv/bin/activate
fi
