#!/bin/sh

# save as .envrc, will use folder name as venv name

if [ -d ".venv" ]; then
    # Defaults to proj folder name
    VIRTUAL_ENV="$(basename "$(realpath "$PWD")")"
    export VIRTUAL_ENV

    # path to venv, direnv will run activate based on this
    export PATH="$PWD/.venv/bin:$PATH"

    .venv/bin/activate

    # helper for MyPy linter
    MYPYPATH=$(python -c "import sysconfig; print(sysconfig.get_path('purelib'))")
    export MYPYPATH
fi
