# Editor backup files
*~
*#

# MacOS cache
.DS_Store

# Python cache
__pycache__/

# Python venv (if used)
.venv/

### VisualStudioCode ###
.vscode/* # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

### linting
# mypy
.mypy_cache/
# olint
.cache.olint

# Used by tool-versioning stuff like asdf
.tool-versions

# Deploy location hint
.destination

# Userdefined host configs
hostnames/
