*~
*#
.DS_Store
.coverage
__pycache__/
.tool-versions
dist/
src/tmux_conf.egg-info/
local_tmux_conf/

.venv/
not-v-env/

# vscode
*.code-workspace

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

.mypy_cache/

#  olint linter config
.cache.olint


#  deploy location hint
.destination