*~
*#
.DS_Store
.coverage
__pycache__/
.tool-versions
dist/
*.code-workspace
src/tmux_conf.egg-info/
local_tmux_conf/

.venv/

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history
